{% extends 'firstapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class = 'container bg-white'>
    <div class="row g-0">
        <div class="col-lg-6">
            <img src="{% static 'img/image/feedback.svg' %}">
        </div>
        <div class="col-lg-6">
            <div class="container py-5">
                <h1>Форма обратной связи</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                        {{ form.company|as_crispy_field }}
                    <p></p>
                        {{ form.message|as_crispy_field }}
                    <p></p>
                  <button type="submit" class="btn btn-success">Отправить сообщение</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}