
    <footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title">Лошкарёв Денис<span></span></h5>
<p>About the company, little discription will goes here.. </p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Ссылки по сайту<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="{% url 'res' %}">Резюме</a></div>
</li>
<li>
<div class="thumb-content"><a href="{% url 'projects' %}">Список проектов</a></div>
</li>
<li>
<div class="thumb-content"><a href="/">Главная страница</a></div>
</li>
    <li>
    <p><a href="#">Back to top</a></p>
    </li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Хуйня<span></span></h5>
<p>Get access to your full.</p>
<a class="btn" href="/admin" target="_blank">Admin</a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">

<div class="widget no-box">
<h5 class="widget-title">Мои контакты<span></span></h5>
<p><a href="Den-73-73@yandex.ru" title="glorythemes">Den-73-73@yandex.ru</a></p>
<ul class="social-footer2">
<li class=""><a title="vk" target="_blank" href="https://vk.com/denis__loshkarev"><img alt="vk" width="30" height="30" src="{% static 'img/icons/vk.png' %}"></a></li>
<li class=""><a href="https://t.me/AffirmativeActor" target="_blank" title="tg"><img alt="tg"  width="30" height="30" src="{% static 'img/icons/tg.png' %}"></a></li>
<li class=""><a href="https://github.com/qutoq" target="_blank" title="github"><img alt="github" width="30" height="30" src="{% static 'img/icons/gh3.png' %}"></a></li>
<li class=""><a title="hh" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img alt="hh" width="30" height="30" src="{% static 'img/icons/hh.png' %}"></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Денис Лошкарёв © 2022. Права спизженны.</p>
</div>
</div>
</div>
</div>
</footer>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>