{% load static %}

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'css/res.css' %}">
  <title>Резе</title>
</head>

<body>
  <div class="conteiner">
    <div class="header">
      <div class="photo">
        <img src="ya.jpg" />
      </div>
      <div class="author">
        <div class="info_box">
          <h2>Вентворт Миллер</h2>
          <p>
            <span>Ожидаемая должность: Актер</span>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="skills">
      <h3>Обо мне</h3>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At velit fuga debitis necessitatibus optio ab nostrum sit neque similique, laboriosam doloremque culpa aliquid. Beatae illum in, quasi iste inventore. At.
      </p>
      <h3>Образование</h3>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At velit fuga debitis necessitatibus optio ab nostrum sit neque similique, laboriosam doloremque culpa aliquid. Beatae illum in, quasi iste inventore. At.
      </p>
      <h3>Опыт работы</h3>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At velit fuga debitis necessitatibus optio ab nostrum sit neque similique, laboriosam doloremque culpa aliquid. Beatae illum in, quasi iste inventore. At.
      </p>
      <h3>Интересы</h3>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At velit fuga debitis necessitatibus optio ab nostrum sit neque similique, laboriosam doloremque culpa aliquid. Beatae illum in, quasi iste inventore. At.
      </p>
      <h3>Контакты</h3>
      <hr>
      <ul class="contacts">
        <li>
          <img src="//img/userpic.png" /><a href="mailto:contact@inbox.com">contact@inbox.com</a>
        </li>
        <li>
          <img src="//img/userpic.png" /><a href="tel:+1234567890">+1234567890</a>
        </li>
      </ul>

    </div>

  </div>

        <footer>
            <div style="float: right"><a href="/"> Домой</a></div>
            &copy; Денис Лошкарёв
        </footer>
</body>