.container-1 {
    background-color: #2eb8b8  ;
}

.container-2 {
    background-color: #2eb8b8;
}

.c-pgn {
    background-color: #FFFAFA;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.phone {
    white-space: nowrap;
}

.vl {
    border-left: 3px solid black ;
}

hr {
background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
height: 1px;
}